<IfModule mod_headers.c>
  <Files "apple-app-site-association">
    ForceType application/json
    Header set Content-Type "application/json"
  </Files>
  <Files "assetlinks.json">
    ForceType application/json
    Header set Content-Type "application/json"
  </Files>
</IfModule>
